################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Predictive Parsing Table/.vs/Predictive Parsing Table/v16
